*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-container {
  width: 1280px;
  /* на макете 1283px  */
  
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: inline-block;
  text-decoration: none;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  margin-top: 63px;
  margin-bottom: 38px;
}

.logo-color {
  color: #4bcaff;
}
.top-navigation {
  background-color: #35444f;
}

.top-navigation-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  font-weight: normal;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.top-navigation-list-el {
  padding: 26px 40px 19px;
}

.top-navigation-list-el-link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}
.top-navigation-list-el:hover {
  background-color: #222f3a;
}

.container {
  width: 884px;
  height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  overflow: hidden;
}

.container:hover > img {
  transition-duration: 1s;
  transform: scale(1.5);
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.main-section {
  margin-left: 52px;
}

.aside-nav {
  align-self: flex-start;
  border: 1px solid darkgrey;
  width: 342px;
}

.aside-nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;
}

.aside-nav-list-el {
  padding: 27px 0 27px 44px;
}

.aside-nav-list-el:hover {
  background-color: #dbdbdb;
  text-align: center; 
}

.aside-nav-list-el-link {
  text-decoration: none;
  font-size: 27px;
  line-height: 27px;
  color: #495863;
}

.main-section-article {
  width: 885px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
}
.footer {
  margin-bottom: 30px; 
  background-color: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
}

.footer-nav-list {
  list-style-type: none;
  display: flex;  
  margin: 0;
}

.footer-nav-list-el {
  padding: 23px 0 23px 30px;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer-nav-list-el-link {
  text-decoration: none;
  color: #0c1927;
}

.footer-nav-list-el-link:hover {
  text-decoration: underline;
  color: #4bcaff;
}

.copyright {  
  font-size: 24px;
  line-height: 24px;
  color: #010101;
  align-self: center;
  padding-right: 40px;
}
