*,
*::before,
*::after {
  box-sizing: border-box;
}

/* .a-navigation{
  text-decoration: none;
  color:#ffffff;
  text-transform: uppercase;
} */

.tbody {
  width: 1900px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 200px;
}
.top-menu {
  background-color: #313131;
  display: flex;
  justify-content: space-between;
}

.top-menu-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}

.top-menu-list-item {
  justify-content: center;
  align-self: center;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  /* padding-right: 35px; */
  padding: 27px 35px 27px 0px;
}

.top-menu-list-item :nth-last-child() {
  padding-right: 0;
}


.top-menu-list-item-link{
  color: #ffffff;
  text-decoration: none;
}

.top-menu-list-item-link:hover{
  color:#18B4CF;
}


.logo {
  display: flex;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  /* justify-content: center;*/
  align-self: center;
  text-decoration: none;
  color: #ffffff;
}

.logo-img {
  width: 27px;
  height: 27px;
  align-self: center;
  justify-content: center;
  margin: 0 22px;
}

.search {
  display: flex;
  /* justify-content: center; */
  align-self: center;
  padding: 28px;
  height: 100%;
  background-color: #000000;
}

.header {
  background-image: url(../img/header-background.png);
  height: 370px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page-header-1 {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 164px;
  width: 100%;
}

.page-header-2 {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  color: #18b4cf;
  text-align: center;
  padding: 50px 0;
  margin: 0;
}

.header-link {
  padding: 16px 19px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  margin-bottom: 74px;
  margin-right: 20px;
}

.link-a {
  background-color: #89ca62;
}

.link-b {
  background-color: #14b9d5;
}

.hotel-container {
  /* width: 1170px; */
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hotel-list-item {
  width: 370px;
  margin: 0 30px 30px 0;
}

li.hotel-list-item:nth-child(3){
  margin-right: 0;
}

li.hotel-list-item:nth-child(6){
  margin-right: 0;
}

figure {
  margin: 0;
}

.hotel-list-item-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.hotel-list-item-image {
  height: 100%;
}

.hotel-list-item-link-caption {
  padding: 20px 0;
  text-align: center;
}

.clients {
  background-image: url(../img/clients/clients-bg.jpg);
  height: 588px;
}
.clients-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  padding: 115px 509px 0 509px;
  gap: 190px 58px;
  align-items: center;
}


.clients-grid-el-1 {
  grid-column: span 4;
}
.clients-header {
  padding: 1px;
  margin: 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-self: center;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.color-line {
  position: relative;
  width: 60px;
  height: 3px;
  /* left: 920px; */
  top: 237px;

  background: #18b4cf;
}

.places-grid-container {
  display: grid;
  grid-template-columns: repeat(7, 271px);
  align-content: center;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* padding: 10px; */
}

.hotnews {
  padding-bottom: 77px;
}

.hotnews-grid-container {
  margin-right: 0;
  margin-left: 0;
  display: grid;
  grid-template-columns: 277px 1fr 277px;
  gap: 42px 35px;
  margin-left: 366px;
  margin-right: 366px;
}
  /* если отталкиваться от родителя то Маржин или Паддинг :? */

.hotnews-grid-1 {
  grid-column: 1 / span 2;
  background-color: #f7f7f7;
}
.hotnews-grid-2 {
  background-color: #f7f7f7;
}

/* Вложенный грид */
.hotnews-grid-3 {
  grid-column: 1 / span 3;

  width: 100%;
  display: grid;

  grid-template-columns: 554px 554px;
  grid-auto-columns: 554px 554px;
  gap: 43px 60px;
  background-color: #fff;
}
.hotnews-grid-3 > div {
  background-color: #f7f7f7;
}

.hotnews-grid-4 {
  background-color: #f7f7f7;
}

.hotnews-grid-5 {
  background-color: #f7f7f7;
  grid-column: 2 / span 2;
}


.hotnews-grid-fig-caption-article {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: #5b6469;
  padding: 14px;
  margin-left: 10px;
}

.hotnews-grid-fig-caption-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
  padding-top: 10px;
  margin: 0;
}

.hotnews-grid-1-fig-img,
.hotnews-grid-5-fig-img {
  float: left;
}

.h3-grid {
  margin: 0;
  padding-left: 10px;
  padding-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
}

.footer {
  display: grid;
  background-color: #000;
  grid-template-columns: minmax(50px,auto) minmax(50px,auto);
  
  gap: 559px;

}

.copyright {
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: center;
}
.logo1-footer{
padding-left: 5px;
}

.logo-container{
    padding-top: 29px;
    padding-bottom: 27px;
}