*,
*::before,
*::after {
  box-sizing: content-box;
}

.page-body {
  margin: 0px;
  font-family: sans-serif;
  text-align: center;
}

.navigation {
  text-align: center;
  min-width: 300px;
  /* margin: 25.5px 330px; */
  margin-top: 25.5px;;
  margin-bottom: 25.5px;
  
}

.header-image {
  width: 100%;  
}

.navigation-list {
  list-style-type: none;
  text-align: center;
  position: inherit;
  color: #ff0000;
}

.navigation-list-item {
  display: inline;
  padding-right: 72px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;  
}



.navigation-list-item-link{
  text-decoration: none;  
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}

li:last-child{
  padding-right: 0;
}

.button {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 18.5px 43.5px 17.5px 42.5px;
  background-color: #ff0000;
  border-radius: 4px;
}

.footer {
  margin: 82px 105px 29px 20px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}

.article {
  margin: 49px 68px 66px;
}

.article-heading {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
  text-align: center;
  margin-bottom: 38px;
}

.article-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
  margin-bottom: 28px;
}
