*,
*::after,
*::before{  
    box-sizing: border-box;
}
.page{  
    height: 100%;
}

.page_body{ 
    margin:0;
    font-family: sans-serif;
    height: 100%;
}

.box{   
    width: 400px;
   
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border:4px solid black ;
    
}

.box--span{ 
    display: inline-block;
}

.wrapper{
    background-color:blue;
   display:flex ;
   align-items: center;
   height: 350px;
    justify-content: space-between;
}

.element{
    width: 200px;
    padding: 50px;
    background-color: rgb(185, 159, 120);
    border: 5px groove aqua;
}


.flex-container{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color:deepskyblue;
    display: flex;

}
.flex-element{
        font-style: 30px;
        font-weight: 700;
        margin: auto;

}

.flex-container--content{
    justify-content:center;
    align-items:center;
    margin-top:  25px;


}