*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    height: 100%;
}
.tbody{
    height: 100%;
    width: 100%;
    background-color: cornsilk;
}

.parent{
    background-color: #ccc;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
}

.child{
    background-color: aqua;
    width: 15%;
    height: 15%;
    padding: 10%;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

.second-item{
    margin-right: auto;
}
