.page-body {
  margin: 0;
  font-family: sans-serif;
}

.hero {
  background-image: url(../img/hero-bgd.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* padding-left: 224px;
   padding-top: 528px;
   padding-bottom: 133px;
   padding-right: 30px; */
  padding: 528px 30px 133px 224px;
}

.hero-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 16px;
}

.hero-subtitle {
  margin-top: 0;
  margin-bottom: 22px;

  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.hero-slogan {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  padding: 38px 31px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;

  color: #ffffff;
}

.accent-color {
  color: #f48e0b;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
  border-bottom: 30px #f48e0b;
}

.logo {
  font-size: 28px;
  text-decoration: none;
  font-weight: bold;
  color:#f48e0b;
  text-transform: uppercase;
}

.menu {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.menu-item {
  margin-left: 69px;
}

.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-link{
text-transform: uppercase;
text-decoration: none;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #3d3d3d;

}

.menu-link-active{
   color:#f48e0b;

}

.container{
   width: 1170px;
   margin-left: auto;
   margin-left: auto;
}