*,
*::after,
*::before {
    box-sizing: border-box;
}

.page-body{
    margin: 0px;
    font-family: sans-serif;
}

section.hero {
    background-image: url("../image/herobg.jpg");
    background-size: cover;
    /*background-repeat: no-repeat;*/


    /*padding-top: 528px;*/
    /*padding-left: 224px;*/
    /*padding-bottom: 133px;*/
    /*padding-right: 30px;*/
    padding: 528px 30px 133px 224px; /* 30 не документрирован взяли с головы чтобы текст не упирался*/
}

.hero-title {
    /* Sertiz */
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
}

.accent-color-brown {
    color: coral;
}

