*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    height: 100%;
}
.tbody{
    height: 100%;
    width: 100%;
    background-color: cornsilk;
}

.parent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 400px;
    background-color: grey;
}

 .child{
    background-color: aqua;
    width: 30%;
    height: 30%;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;   
} 

.first-child{
 
 width: 60%;
 height: 100%;
 flex-basis: 100%;
}


.second-child .third-child{
   justify-content: flex-end;
   flex-basis: 100%
}

