  .parent {
    display: flex;
    height: 500px; /* Неважно */
    background-color: #a45;
  }.child {
    width: 200px;  /* Неважно */
    min-height: 50px; /* Неважно */
    margin: auto;  /* Магия! */
    border: 1px solid black;
    background-color: #5ec;
  }