*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    height: 100%;
}
.tbody{
    height: 100%;
    width: 100%;
    background-color: cornsilk;
}

.parent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.child{
    background-color: aqua;
    width: 30%;
    height: 30%;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 50px;
}

